.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.post {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 655px) {
  .container {
    grid-template-columns: 1fr;
  }
}
